.button {
  position: absolute;
  top: 50%;
  box-shadow: none;
  width: 32px;
  height: 32px;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 30;
  border: 1px solid black;
  border-radius: 50%;
}

.button.right {
  left: 20px;
}

.button.left {
  right: 20px;
}

.button:hover {
  background-color: rgba(0, 0, 0, 1);
}

.react-stacked-center-carousel {
  padding: 20px 0;
}

.card {
  transition: all 300ms ease;
  cursor: pointer;
  width: 100%;
  height: 300px;
  position: relative;
  /* background-color: #ffffff; */
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.6), 0 0 4px rgba(0, 0, 0, 0.2);
  border: 1px solid black;
}

.card:hover {
  transform: scale(1.05, 1.05);
}

.card .card-overlay {
  user-select: none;
  position: absolute;
  transition: all 300ms ease;
  background-color: rgba(255, 255, 255, 0.4);
}

.card:hover .card-overlay {
  background-color: rgba(255, 255, 255, 0.4);
}

/* .react-stacked-center-carousel-slide-0 .card {
  cursor: default;
} */

/* .react-stacked-center-carousel-slide-0 .card:hover {
  transform: none;
} */

.fill {
  width: 100%;
  height: 100%;
}

.react-stacked-center-carousel-slide-0 .card-overlay {
  background-color: rgba(0, 0, 0, 0) !important;
}

.cover {
  width: 100%;
  height: 300px;
}

.cover-image {
  object-fit: cover;
}

